 <%= link_to user_posts_path(@user.id) do %>
    <form method="post" class="button_to">
      <button type="submit">See All</button>
      <input name="authenticity_token" type="hidden" value="10f2163b45388899ad4d5ae948988266befcb6c3d1b2451cf657a0c293d605a6"/>
    </form> 
  <%end%>