<%= link_to user_path(user.id) do%>
  <li class="user-header">

    <div class="photo">
      <%= image_tag("https://robohash.org/#{user.id}.png", :alt => "#{user.name}'s profile photo") %>
    </div>

    <div>
      <h1><%= user.name %></h1>
      <h3>Posts: <%= user.posts_counter %></h3>
    </div>

  </li>
<%end%>