<div>
  <%= render @user %>
</div>

<div class="bio-container">
  <h3>Bio</h3>
  <p><%= @user.bio.truncate(80) %></p>
  
  <div>
    <%= render @user.recent_posts %>
  </div>
  
  <%= render 'show-bttn' %>
  
</div>


