<div>
  <%= render @user %>
</div>

<div>
  <% @posts.each do |post| %>
    
    <% post.text = post.text.truncate(48) %>
    <%= render post %>
    
    <%= render post.recent_comments %>

  <% end %>
</div>