<div>
  <%= render @post %>
</div>

<%= link_to new_user_post_comment_path(@user.id, @post.id) do%>
  <form method="post" class="button_to">
    <button type="submit">+</button>
  </form> 
<%end%>

<div>
  <%= render @post.comments %>
</div>
